:root {
    --cor-principal: rgb(46, 125, 50);
    --cor-letra-principal: rgb(255, 255, 255);
    --cor-principal-opaca: rgba(46, 125, 50, 0.8);
    --cor-botao-hover: rgb(34, 133, 133);
    --cor-branco-opaco: rgba(255, 255, 255, 0.8);
    --cor-branco-opaco2: rgba(255, 255, 255, 0.6);
    --cor-backgeound-secundario: rgba(31, 100, 35, 0.7);
    /*
    Cor principal: Verde do site
    Letra principal: Branco das letras
    Botao hover: Cor quando passa o mouse em cima do botao
    */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

input {
    font-size: 0.9rem;
    padding: 2px 5px;
}

textarea {
    resize: none;
    min-width: 300px;
    min-height: 150px;
}

.centralizar {
    /* Classe para centralizar tabelas*/
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: separate;
    border-spacing: 15px;
}

.tituloPagina {
    /*Classe padrao para os titulos das paginas*/

    text-align: center;
    color: var(--cor-letra-principal);
    background-color: var(--cor-principal);
}

body {
    /* Classe para definicao do body*/
    min-height: 100vh;
    background-color: ;
    background-size: cover;
    background-position: center;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--cor-principal-opaca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: sticky;
    /*MUDAR AQUI SE NAO GOSTAR DO COMPORTAMENTO HEADER*/
    max-height: 100px;

}


.botao {
    /*Classe para definir estilo do botao index */
    color: var(--cor-letra-principal);
    background-color: var(--cor-principal);
    padding: 60px 80px;
    text-align: center;
    font-size: xx-large;
    background-color: var(--cor-principal);
    border-radius: 30px;
    transition-duration: 400ms;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 150px;
    text-decoration: none;
}

.botao:hover {
    /*Hover eh a acao de passar o mouse, use essa classe para definir
    a estilizacao de quando passa o mouse no botao*/
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
    box-shadow: 0 4px 8px black;
}

td a {
    text-decoration: none;
    color: var(--cor-letra-principal);
    font-weight: bolder;
}

.margem-20 {
    margin-right: 20px;
}




.banner {
    /*Banner da pagina principal */
    margin-top: 80px;
    width: 60%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: var(--cor-principal-opaca);
    background-image: url(../img/cenoura2.jpg);
    border-radius: 50px;
    margin-left: 20%;
    text-align: center;
    z-index: 10;
    position: relative;
}

.botao-banner {
    /*Botao do banner na pagina index*/
    width: 200px;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    display: inline-block;
    margin-top: 180px;
    border-radius: 30px;
    transition-duration: 400ms;
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);
}

.botao-banner:hover {
    /*Hover eh a acao de passar o mouse, use essa classe para definir
    a estilizacao de quando passa o mouse no botao*/
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
    box-shadow: 0 4px 8px black;
}


.botoes-index {
    /*Parte da tabela dos botoes na pagina index*/
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding: 0 10px;
    flex-wrap: wrap;
}

.botao-item {
    /*Comportamento do bbotao na div, funciona de maneira similar a uma tabela*/
    flex: 1;
    min-width: 200px;
    max-width: 400px;
}

.frase-banner {
    /*CSS da frase do topo do banner */
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: var(--cor-letra-principal);
    background-color: var(--cor-principal-opaca);
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
}


.div-contato {
    /*Parte da div do formulario de contato*/
    margin-top: 50px;
    background-color: var(--cor-branco-opaco);
    left: 20%;
    height: 500px;
    width: 60%;
    position: relative;
    border-radius: 40px;
}

.contato-formulario {
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    top: 15%;

}

.botao-formulario {
    width: 200px;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    left: 100px;
    border-radius: 30px;
    transition-duration: 400ms;
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);
}

#background {
    margin-top: 50px;
    background-color: var(--cor-principal-opaca);
    height: 360px;
    width: 60%;
    position: relative;
    border-radius: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#background_sucesso {
    background-color: var(--cor-principal-opaca);
    height: 300px;
    margin-top: 20px;
    left: 10%;
    position: relative;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

#background_sucesso:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.botao-voltar {
    text-decoration: none;
    color: var(--cor-branco-opaco2);
    margin-top: 15px;
    transition: color 0.3s ease;
}

.botao-voltar:hover {
    color: var(--cor-letra-principal);
}

footer {
    width: 100%;
    margin-top: 50px;
    color: var(--cor-letra-principal);
    position: relative;
    bottom: 0;
}

#footer_background {
    background-color: var(--cor-principal-opaca);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem 3rem;

}

#footer_info h2 {
    margin-bottom: 0.75rem;

}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer_list .footer-link {
    text-decoration: none;
    color: var(--cor-branco-opaco2);

}

.footer_list .footer-link:hover {
    color: var(--cor-letra-principal);

}

#footer_inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#final_rodape {
    background-color: var(--cor-principal);
    text-align: center;
    padding: 0.2rem 0;
    margin-top: -20px;
}

div p {
    color: var(--cor-branco-opaco2);
}

.color_h2 {
    color: var(--cor-letra-principal);
}

.i {
    font-size: 4rem;
    margin-top: 20px;
}


#grade-produto {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 5 20px;
    text-align: center;
    flex-wrap: wrap;
    color: var(--cor-letra-principal);
}

.produto {
    background-color: var(--cor-backgeound-secundario);
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.produto:hover {
    transform: scale(1.05);

}

.produto img {
    border-radius: 10px;
}

button {
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-principal);
}

#grade-carrinho {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 20px;
    width: 50%;
    margin: 50px auto;
    color: var(--cor-letra-principal);
    text-align: left;
}

.carrinho {
    background-color: var(--cor-backgeound-secundario);
    border-radius: 20px;
    padding: 20px;

}

.carrinho h3 {
    text-align: center;
    margin-bottom: 15px;
}

.estrutura-img-nome {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carrinho img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/*estilo da div info carrinho*/
.info {
    display: flex;
    flex-direction: column;
}

/*estilo dos textos carrinho*/
.info p,
.info label {
    margin: 5px 0;
}

/*estilo do input quantidade carrinho*/
.info input {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--cor-letra-principal)
}

/*botao finalizar compra carrinho + transição*/
.finalizar {
    grid-column: 1 / -1;
    padding: 15px;
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);

    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.finalizar:hover {
    background-color: var(--cor-principal);
    transform: scale(1.05);
}

/*so pra alterar a cor do <p>*/
.p-carrinho {
    color: var(--cor-letra-principal);
}