:root {
    --cor-principal: rgb(29, 158, 51);
    --cor-rodape: rgb(17, 114, 33);
    --cor-letra-principal: rgb(255, 255, 255);
    --cor-botao-hover: rgb(16, 105, 79);
    --cor-branco-opaco: rgba(255, 255, 255, 0.8);
    --cor-backgeound-secundario: rgba(31, 100, 35, 0.7);
    --cor-letra-destaque: rgb(237, 255, 71);
    --cor-claro-fraco:rgb(230,230,230);

}



.navbar{
    background-color: var(--cor-principal) ;
}

.navbar-nav .nav-link {
    color: var(--cor-letra-principal);
}

.navbar-nav .nav-link.active {
    color: var(--cor-letra-destaque) !important;
    font-weight: bold;
}


.navbar-nav .nav-link:hover {
     color: var(--cor-letra-destaque);
}

.navbar .navbar-nav{
    margin-left: auto;
}

select{
    font-size: 0.9rem;
    padding: 2px 5px;
}

input {
    font-size: 0.9rem;
    padding: 2px 5px;
}

textarea {
    resize: none;
    min-width: 300px;
    min-height: 150px;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255,255,255,1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
    width: 1.5em;
    height: 1.5em;
}


h1{
    color: var(--cor-letra-principal) !important;
}

.imagem-carrossel{
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
    display: flex;
    align-items: center;
}

.btn-carousel {
    background-color: var(--cor-rodape) !important;
    color: var(--cor-letra-principal) !important;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 1.2 s ease;
    margin-top: 15px;
    display: inline-block;
    font-size: 1.1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 500;
}
.btn-carousel:hover {
    background-color: var(--cor-botao-hover) !important;
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    color: var(--cor-letra-principal) !important;
}



body {
    /* Classe para definicao do body*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-claro-fraco) !important;
}

main{
    flex: 1;
    padding: 2em;
    margin-top: 100px;
}

td a {
    text-decoration: none;
    color: var(--cor-letra-principal);
    font-weight: bolder;
}


.div-contato {
    /*Parte da div do formulario de contato*/
    margin-top: 50px;
    background-color: var(--cor-branco-opaco);
    left: 20%;
    height: 500px;
    width: 60%;
    position: relative;
    border-radius: 40px;
}

.contato-formulario {
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    top: 15%;

}

.botao-formulario {
    width: 200px;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    left: 100px;
    border-radius: 30px;
    transition-duration: 400ms;
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);
}

#background {
    margin-top: 50px;
    background-color: var(--cor-principal-opaca);
    height: 360px;
    width: 60%;
    position: relative;
    border-radius: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#background_sucesso {
    background-color: var(--cor-principal-opaca);
    height: 300px;
    margin-top: 20px;
    left: 10%;
    position: relative;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

#background_sucesso:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.botao-voltar {
    text-decoration: none;
    color: var(--cor-branco-opaco2);
    margin-top: 15px;
    transition: color 0.3s ease;
}

.botao-voltar:hover {
    color: var(--cor-letra-principal);
}

footer {
    width: 100%;
    margin-top: 50px;
    color: var(--cor-letra-principal);
    position: relative;
    bottom: 0;
}

#footer_background {
    background-color: var(--cor-principal);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem 3rem;

}

#footer_info h2 {
    margin-bottom: 0.75rem;

}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer_list .footer-link {
    text-decoration: none;
    color: var(--cor-branco-opaco2);

}

.footer_list .footer-link:hover {
    color: var(--cor-letra-principal);

}

#footer_inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#final_rodape {
    background-color: var(--cor-rodape  );
    text-align: center;
    padding: 0.2rem 0;
    margin-top: -20px;
}

div p {
    color: var(--cor-branco-opaco2);
}

.color_h2 {
    color: var(--cor-letra-principal);
}

.i {
    font-size: 4rem;
    margin-top: 20px;
}


#grade-produto {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 5 20px;
    text-align: center;
    flex-wrap: wrap;
    color: var(--cor-letra-principal);
}
.card { 
    width: 200px;
    font-size: 1.3rem;
    margin-bottom: 5px;
    padding: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}


.card_img {     
    width: 60%;
    height: auto;
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    margin: 10px auto;

    
}


.produto {
    background-color: var(--cor-backgeound-secundario);
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.produto:hover {
    transform: scale(1.05);

}

.produto img {
    border-radius: 10px;
}



button {
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-principal);
}

#grade-carrinho {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 20px;
    width: 50%;
    margin: 50px auto;
    color: var(--cor-letra-principal);
    text-align: left;
}

.carrinho {
    background-color: var(--cor-backgeound-secundario);
    border-radius: 20px;
    padding: 20px;

}

.carrinho h3 {
    text-align: center;
    margin-bottom: 15px;
}

.estrutura-img-nome {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carrinho img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/*estilo da div info carrinho*/
.info {
    display: flex;
    flex-direction: column;
}

/*estilo dos textos carrinho*/
.info p,
.info label {
    margin: 5px 0;
}

/*estilo do input quantidade carrinho*/
.info input {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--cor-letra-principal)
}

/*botao finalizar compra carrinho + transição*/
.finalizar {
    grid-column: 1 / -1;
    padding: 15px;
    background-color: var(--cor-principal-opaca);
    color: var(--cor-letra-principal);

    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.finalizar:hover {
    background-color: var(--cor-principal);
    transform: scale(1.05);
}

/*so pra alterar a cor do <p>*/
.p-carrinho {
    color: var(--cor-letra-principal);
}