:root {
    --cor-principal: rgb(29, 158, 51);
    --cor-rodape: rgb(17, 114, 33);
    --cor-letra-principal: rgb(255, 255, 255);
    --cor-botao-hover: rgb(16, 105, 79);
    --cor-branco-opaco: rgba(255, 255, 255, 0.8);
    --cor-backgeound-secundario: rgba(31, 100, 35, 0.7);
    --cor-letra-destaque: rgb(237, 255, 71);
    --cor-claro-fraco: rgb(230, 230, 230);
    --cor-destaque: rgb(20, 85, 11);
}




.navbar {
    background-color: var(--cor-principal);
}

.navbar-nav .nav-link {
    color: var(--cor-letra-principal);
}

.navbar-nav .nav-link.active {
    color: var(--cor-letra-destaque) !important;
    font-weight: bold;
}


.navbar-nav .nav-link:hover {
    color: var(--cor-letra-destaque);
}

.navbar .navbar-nav {
    margin-left: auto;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

input {
    font-size: 0.9rem;
    padding: 2px 5px;
}

textarea {
    resize: none;
    min-width: 300px;
    min-height: 150px;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255,255,255,1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
    width: 1.5em;
    height: 1.5em;
}


h1 {
    color: var(--cor-letra-principal) !important;
}


.imagem-carrossel {
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 480px) {
    .carousel {
        display: none !important;
    }
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
    display: flex;
    align-items: center;
}

.btn-carousel {
    background-color: var(--cor-rodape) !important;
    color: var(--cor-letra-principal) !important;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 1.2 s ease;
    margin-top: 15px;
    display: inline-block;
    font-size: 1.1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 500;
}

.btn-carousel:hover {
    background-color: var(--cor-botao-hover) !important;
    transform: translateY(-3px) scale(1.1);
    border-color: var(--cor-botao-hover) !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    color: var(--cor-letra-principal) !important;
}

.btn-primary {
    background-color: var(--cor-principal) !important;
    border-color: var(--cor-principal) !important;
}


.btn-primary:hover {
    background-color: var(--cor-botao-hover) !important;
    border-color: var(--cor-botao-hover) !important;
}

.btn {
    background-color: var(--cor-principal) !important;
    color: var(--cor-letra-principal) !important;
    border-color: var(--cor-principal) !important;
}


.btn:hover {
    color: var(--cor-letra-destaque) !important;
}

.navbar .dropdown-menu {
    background-color: var(--cor-claro-fraco) !important;
    border: 1px solid var(--cor-principal) !important;
}

.navbar .dropdown-item:hover {
    background-color: var(--cor-principal) !important;
    color: var(--cor-letra-destaque) !important;
    transform: translateX(5px);
    transform: scale(1.05);
}

.navbar .dropdown-item.active {
    background-color: var(--cor-botao-hover) !important;
    color: var(--cor-letra-destaque) !important;
}

.formulario-cadastro {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.952)!important;
}

.titulo-background-verde-central {
    color: var(--cor-letra-principal);
    background-color: var(--cor-principal);
    max-width: 35%;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.titulo-background-verde-central-v2 {
    color: red;
    max-width: 50%;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.centralizar-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    min-height: 50%;
}

.botoes-index {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5vh;
    padding: 0 10px;
    flex-wrap: wrap;
}

.botao-item {
    flex: 1;
    min-width: 200px;
    max-width: 400px;

}

.centralizar-btn {
    display: flex;
    justify-content: center;
}

.btn-centralizado {
    width: auto;
    min-width: 150px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.botao {
    /*Classe para definir estilo do botao index */
    color: var(--cor-letra-principal);
    background-color: var(--cor-principal);
    padding: 60px 80px;
    text-align: center;
    font-size: xx-large;
    background-color: var(--cor-principal);
    border-radius: 30px;
    transition-duration: 400ms;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 150px;
    text-decoration: none;
}

.botao:hover {
    /*Hover eh a acao de passar o mouse, use essa classe para definir
    a estilizacao de quando passa o mouse no botao*/
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
    box-shadow: 0 4px 8px black;
}

body {
    /* Classe para definicao do body*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-claro-fraco) !important;
}

main {
    flex: 1;
    padding: 2em;
}


#background {
    margin-top: 50px;
    background-color: var(--cor-principal-opaca);
    height: 360px;
    width: 60%;
    position: relative;
    border-radius: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#background_sucesso {
    background-color: var(--cor-principal);
    height: 300px;
    margin-top: 20px;
    left: 10%;
    position: relative;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

#background_sucesso:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.margem-text-mgs {
    text-decoration: none;
    color: var(--cor-branco-opaco2);
    margin-top: 15px;
    transition: color 0
}

.botao-voltar {
    text-decoration: none;
    color: var(--cor-branco-opaco2);
    margin-top: 15px;
    transition: color 0.3s ease;
}

.botao-voltar:hover {
    color: var(--cor-letra-destaque);
}

footer {
    width: 100%;
    margin-top: 50px;
    color: var(--cor-letra-principal);
    position: relative;
    bottom: 0;
}

#footer_background {
    background-color: var(--cor-principal);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 3rem;
    box-sizing: border-box
}

.btn-footer {
    background-color: var(--cor-rodape) !important;
    color: var(--cor-letra-principal) !important;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 15px;
    display: inline-block;
    font-size: 1.1rem;
}


@media (max-width: 600px) {
    #footer_background {
        grid-template-columns: 1fr;
        padding: 1rem;
        text-align: center;
    }
}

#footer_info h2 {
    margin-bottom: 0.75rem;

}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer_list .footer-link {
    text-decoration: none;
    color: var(--cor-letra-principal);

}

.footer_list .footer-link:hover {
    color: var(--cor-letra-destaque);

}

#footer_inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#final_rodape {
    background-color: var(--cor-rodape);
    text-align: center;
    padding: 0.2rem 0;
    margin-top: 0;
}

div p {
    color: var(--cor-branco-opaco2);
}

.color_h2 {
    color: var(--cor-letra-principal);
}

.i {
    font-size: 4rem;
    margin-top: 20px;
}

.card {
    width: 400px;
    font-size: 1.3rem;
    margin-bottom: 5px;
    padding: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}


.card_img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    /* corta as bordas para não distorcer */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.titulo-carrinho {
    text-align: center;
    color: var(--cor-letra-principal);
    margin-bottom: 30px;
}


.text-carrinho {
    color: var(--cor-principal);
    text-align: center;
}

/*estilo dos botoes de aumentar e diminuir quantidade*/
.btn-outline-dark {
    color: var(--cor-principal) !important;
    border-color: var(--cor-principal) !important;
}

.btn-outline-dark:hover {
    background-color: var(--cor-botao-hover) !important;
    color: white;
}

/*pra alinhar o texto abaixo dos botoes de aumentar e diminuir quantidade*/
.text-right {
    text-align: right !important;
}

.img-carrinho {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* corta as bordas para não distorcer */
    border-radius: 10px;
}

.titulo-pedido {
    color: var(--cor-principal) !important;

}


.cards-produto{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
}

.cards-produto .row {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    width: 100%;
    margin: 0 auto;
}

.cards-produto-alinhamento {
    flex: 0 0 20%; /* Cada card ocupa aproximadamente 30% da largura */
    max-width: 20%;
    margin: 0 1.5%; /* Espaçamento entre os cards */
    display: flex;
    justify-content: center;
}


/* === Área de conteúdo === */
.content {
    flex: 1;
    background-color: var(--cor-claro-fraco);
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow-y: auto; /* Adiciona scroll se necessário */
     align-items: center; /* Centraliza horizontalmente */
    justify-content: flex-start; /* Alinha no topo */
    min-height: 300px; /* Altura mínima para centralizar verticalmente */
}



/* === Menu lateral === */
.sidebar {
    flex: 0 0 250px; 
    background: var(--cor-principal);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.especifico-sidebar{
    display: flex;
    flex-wrap: nowrap;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar li {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.sidebar li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--cor-letra-principal);
    border-radius: 0.25rem;
}

.sidebar li a:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-letra-destaque);
    transform: translateX(5px);
    transform: scale(1.05);
}

.sidebar li a.active {
    background-color: var(--cor-destaque);
    color: var(--cor-letra-destaque);
    font-weight: bold;
}

/*PARTE DO ENDERECO*/


#avisoSemEnderecos {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

#listaEnderecos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card-endereco {
    margin-top: 1%;
    margin-left: 5vh;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid var(--cor-principal);
    box-sizing: border-box;
    display: inline-table;
    flex-direction: row;
    height: 100%;
    width: 40%;
}

.botao-perigo{
    background-color: red !important;
    color: var(--cor-letra-principal) !important;
    border-color: red !important;
}

.card-adicionar-endereco {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px dashed var(--cor-principal);
    background-color: rgba(29, 158, 51, 0.05);
    text-align: center;
}