.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tituloPagina {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(250, 255, 255);
    background-color: rgb(80, 180, 90);

}

body {
    background-color: rgb(245, 245, 240);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.centralizarNav {
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(40, 40, 40);
}

.colorText {
    color: rgb(40, 40, 40);
}